{% load custom_filter %}
<p class="item w3-padding w3-center">{{user}}</p>  

    <div class="w3-border w3-padding" style="overflow-y: scroll; max-height: 80vh; overflow: auto;">

        {% for file in files reversed %}
            {% if user|safe == file.file_owner|safe %}
                <div  class="w3-card w3-panel w3-round w3-padding">
                    <p class="w3-text-black w3-small">Name: <span class="w3-text-grey">{{file.file_name|smlr}}</span></p>
                    <p class="w3-text-black w3-small">Type: <span class="w3-text-grey">{{file.file_ext}}</span></p>
                    <p class="w3-text-black w3-small">Size: <span class="w3-text-grey">{{file.file_size|tobyte}}</span></p>
                    <div class="btn-group" role="group" aria-label="e">
                        <form action="/download/" method="post">
                            {% csrf_token %}
                            <input type="hidden"  value="{{file.file_id|safe}}" name="x">
                            <button class="w3-button w3-tiny rounded-left w3-green" type="submit" id="download_btn">Download</button>
                        </form>

                        {% if request.user|safe == file.file_owner|safe %}
                            <form action="/delete/" method="post">
                                {% csrf_token %}
                                <input type="hidden"  value="{{file.file_id|safe}}" name="xx">
                                <button type="submit" class="w3-button w3-tiny rounded-right w3-light-grey" id="remove_btn">Remove</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {%else%}
            
            {% endif %}
        {% endfor %}
        
    </div>


<script>


</script>